In [32]:
import pandas as pd
import numpy as np
import glob
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 27) #列を全表示にする。27で列数指定

In [33]:
df = pd.read_csv("./train/01.csv")

In [34]:
files = glob.glob("./train/*.csv") #train配下のデータを読み込む

data_list = []

for file in files:
    data_list.append(pd.read_csv(file, index_col=0)) #data_listにtrainデータを入れる

df = pd.concat(data_list) #行方向にデータを足していく
df.shape

/Users/kumazawateruhito/opt/anaconda3/envs/base_root/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(637351, 27)

In [35]:
df.head(3)

,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,土地の形状,間口,延床面積（㎡）,建築年,建物の構造,用途,今後の利用目的,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,
40108844,中古マンション等,NaN,40218,福岡県,春日市,昇町,博多南,23,３ＬＤＫ,70,NaN,NaN,NaN,平成16年,ＲＣ,住宅,NaN,NaN,NaN,NaN,第２種住居地域,60.0,200.0,2012年第１四半期,改装済,NaN,7.230449
40001245,中古マンション等,NaN,40103,福岡県,北九州市若松区,久岐の浜,若松,10,４ＬＤＫ,95,NaN,NaN,NaN,平成5年,ＲＣ,住宅,住宅,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2015年第４四半期,改装済,NaN,6.875061
40068753,中古マンション等,NaN,40132,福岡県,福岡市博多区,古門戸町,中洲川端,4,２ＬＤＫ,50,NaN,NaN,NaN,平成9年,ＳＲＣ,住宅,NaN,NaN,NaN,NaN,商業地域,80.0,500.0,2010年第１四半期,未改装,NaN,7.041393

In [36]:
df.isnull().sum() #行ごとの欠損値確認

種類                   0
地域              637351
市区町村コード              0
都道府県名                0
市区町村名                0
地区名                291
最寄駅：名称            2619
最寄駅：距離（分）        23045
間取り              21742
面積（㎡）                0
土地の形状           637351
間口              637351
延床面積（㎡）         637351
建築年              18234
建物の構造            13928
用途               46137
今後の利用目的         362260
前面道路：方位         637351
前面道路：種類         637351
前面道路：幅員（ｍ）      637351
都市計画             18565
建ぺい率（％）          22503
容積率（％）           22503
取引時点                 0
改装               56920
取引の事情等          619076
取引価格（総額）_log         0
dtype: int64

In [37]:
df = df.drop(['地域', '土地の形状', '間口', '延床面積（㎡）', '前面道路：方位', '前面道路：種類', '前面道路：幅員（ｍ）'], axis=1) #全行データないものを消す
df.shape

(637351, 20)

In [38]:
df.head(3)

,種類,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
ID,,,,,,,,,,,,,,,,,,,,
40108844,中古マンション等,40218,福岡県,春日市,昇町,博多南,23,３ＬＤＫ,70,平成16年,ＲＣ,住宅,NaN,第２種住居地域,60.0,200.0,2012年第１四半期,改装済,NaN,7.230449
40001245,中古マンション等,40103,福岡県,北九州市若松区,久岐の浜,若松,10,４ＬＤＫ,95,平成5年,ＲＣ,住宅,住宅,第１種住居地域,60.0,200.0,2015年第４四半期,改装済,NaN,6.875061
40068753,中古マンション等,40132,福岡県,福岡市博多区,古門戸町,中洲川端,4,２ＬＤＫ,50,平成9年,ＳＲＣ,住宅,NaN,商業地域,80.0,500.0,2010年第１四半期,未改装,NaN,7.041393

In [39]:
df.isnull().sum()

種類                   0
市区町村コード              0
都道府県名                0
市区町村名                0
地区名                291
最寄駅：名称            2619
最寄駅：距離（分）        23045
間取り              21742
面積（㎡）                0
建築年              18234
建物の構造            13928
用途               46137
今後の利用目的         362260
都市計画             18565
建ぺい率（％）          22503
容積率（％）           22503
取引時点                 0
改装               56920
取引の事情等          619076
取引価格（総額）_log         0
dtype: int64

In [40]:
df = df.dropna(how='any', axis=0)

In [41]:
df.isnull().sum()

種類              0
市区町村コード         0
都道府県名           0
市区町村名           0
地区名             0
最寄駅：名称          0
最寄駅：距離（分）       0
間取り             0
面積（㎡）           0
建築年             0
建物の構造           0
用途              0
今後の利用目的         0
都市計画            0
建ぺい率（％）         0
容積率（％）          0
取引時点            0
改装              0
取引の事情等          0
取引価格（総額）_log    0
dtype: int64

In [42]:
col = ['都道府県名', '市区町村名', '地区名', '最寄駅：名称', '最寄駅：距離（分）', '間取り', '面積（㎡）', '建築年']

In [43]:
df_dummy = pd.get_dummies(df[col], drop_first=True)

In [44]:
df_dummy.head(2)

,都道府県名_京都府,都道府県名_佐賀県,都道府県名_兵庫県,都道府県名_北海道,都道府県名_千葉県,都道府県名_和歌山県,都道府県名_埼玉県,都道府県名_大分県,都道府県名_大阪府,都道府県名_奈良県,都道府県名_宮城県,都道府県名_宮崎県,都道府県名_富山県,...,建築年_昭和52年,建築年_昭和53年,建築年_昭和54年,建築年_昭和55年,建築年_昭和56年,建築年_昭和57年,建築年_昭和58年,建築年_昭和59年,建築年_昭和60年,建築年_昭和61年,建築年_昭和62年,建築年_昭和63年,建築年_昭和64年
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,
40069422,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,1,0,0
40071193,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0

In [45]:
x = df_dummy.loc[:,:]

In [46]:
y = df['取引価格（総額）_log']

In [47]:
print(x.shape)
print(y.shape)

(2656, 3782)
(2656,)

In [48]:
#決定木モデル作成

In [49]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [50]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1, shuffle=True)

In [51]:
model_tree = DecisionTreeRegressor(random_state=0)
model_tree.fit(x_train, y_train)

DecisionTreeRegressor(random_state=0)

In [52]:
print(model_tree.score(x_test, y_test))

0.25197488802316426

In [53]:
#ランダムフォレストモデル作成

In [54]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
model_forest = RandomForestRegressor(max_depth=15, n_estimators=100, random_state=0)

In [56]:
model_forest.fit(x_train, y_train)
print(model_forest.score(x_test, y_test))

0.4280338443419913

In [57]:
for i in range(10, 21, 2):
    model_forest = RandomForestRegressor(max_depth=i, n_estimators=100, random_state=0)
    model_forest.fit(x_train, y_train)
    print('max_depth=', i, ' ', model_forest.score(x_test, y_test))

max_depth= 10   0.38348640150107216
max_depth= 12   0.40698774527922765
max_depth= 14   0.4225229452795529
max_depth= 16   0.43595599949970765
max_depth= 18   0.44832992419723017
max_depth= 20   0.4580252857194069

In [58]:
for i in range(90, 141, 10):
    model_forest = RandomForestRegressor(max_depth=10, n_estimators=i, random_state=0)
    model_forest.fit(x_train, y_train)
    print('n_estimators=', i, ' ', model_forest.score(x_test, y_test))

n_estimators= 90   0.3821305426310796
n_estimators= 100   0.38348640150107216
n_estimators= 110   0.3830914889106639
n_estimators= 120   0.3819550825953423
n_estimators= 130   0.38229200477894276
n_estimators= 140   0.3823544274356455

In [156]:
test = pd.read_csv('../learning/マンション/test.csv')
test.head(1)

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,土地の形状,間口,延床面積（㎡）,建築年,建物の構造,用途,今後の利用目的,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等
0,1000000,中古マンション等,NaN,1101,北海道,札幌市中央区,旭ケ丘,円山公園,26,３ＬＤＫ,75,NaN,NaN,NaN,昭和64年,ＲＣ,NaN,住宅,NaN,NaN,NaN,第１種低層住居専用地域,40.0,60.0,2020年第２四半期,未改装,NaN

In [171]:
test.isnull().sum()

ID                0
種類                0
地域            19466
市区町村コード           0
都道府県名             0
市区町村名             0
地区名               3
最寄駅：名称           13
最寄駅：距離（分）        13
間取り             922
面積（㎡）             0
土地の形状         19466
間口            19466
延床面積（㎡）       19466
建築年             662
建物の構造          1265
用途             5986
今後の利用目的        1027
前面道路：方位       19466
前面道路：種類       19466
前面道路：幅員（ｍ）    19466
都市計画            344
建ぺい率（％）         421
容積率（％）          421
取引時点              0
改装             2430
取引の事情等        19314
dtype: int64

In [172]:
test_dummy = pd.get_dummies(test[col], drop_first=True)

In [174]:
test_dummy.head(1)

,面積（㎡）,都道府県名_京都府,都道府県名_佐賀県,都道府県名_兵庫県,都道府県名_北海道,都道府県名_千葉県,都道府県名_和歌山県,都道府県名_埼玉県,都道府県名_大分県,都道府県名_大阪府,都道府県名_奈良県,都道府県名_宮城県,都道府県名_宮崎県,...,建築年_昭和52年,建築年_昭和53年,建築年_昭和54年,建築年_昭和55年,建築年_昭和56年,建築年_昭和57年,建築年_昭和58年,建築年_昭和59年,建築年_昭和60年,建築年_昭和61年,建築年_昭和62年,建築年_昭和63年,建築年_昭和64年
0,75,0,0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,1

In [178]:
test_col = test_dummy.loc[:,:]

In [ ]:
test_target = df['取引価格（総額）_log']

In [39]:
from sklearn.metrics import mean_absolute_error #MAEで評価

mae = mean_absolute_error(y_true, y_pred)
print(mae)